.TranslateOutputContainer {
  margin: 0 auto;
  width: 70%;
  min-height: 20em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-bottom: 2em solid #845ec2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.TranslateInputContainer {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  height: 3em;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.TranslateInput {
  font-size: 34px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  border: none;
  outline: 0;
  padding: 0 0.7em;
  width: 80%;
}

.TranslateButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  border-style: none;
  text-decoration: none;
  margin: 3px 2px 2px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #845ec2;
  text-align: center;
  outline: none;
}

.TranslateButton:hover {
  background-color: #292255;
  cursor: pointer;
}

.TranslateSpace {
  width: 100px;
  height: 100px;
}
