.Header {
  font-family: "Love Ya Like A Sister", cursive;
  background-color: #ffc75f;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
}

.HeaderContent {
  max-width: 1200px;
  max-height: 70px;
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.HeaderSection {
  width: 50%;
  display: flex;
  justify-content: center;
}

.LogoImage {
  /*From  https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio*/
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
